# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Electron & OS Builds
dist_electron
out
*.exe
*.dmg
*.zip
*.deb
*.rpm

# Confidential & Env
.env
.env.*
!.env.example
*.key
*.pem
*.cert
*.pfx

# IDE / Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
